.hide {
    display: none;
}

.timer {
    color: #d109b6;
}

#viewHighScore {
    color: #d109b6;
}

body {
    background-color: #f2f2f2; 
}

p {
    color: #d109b6;
    font-family: 'Montserrat', sans-serif;
}

#answer-buttons {
    color: #d109b6;
    font-family: 'Archivo', sans-serif;
}

#answer-buttons:hover {
    color: #d109b6;
    font-family: 'Archivo', sans-serif;
}

.finalScore {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

span {
    font-family: 'Archivo', sans-serif;
}

#question {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

#answerCheck {
    font-style: italic;
    color: #d109b6;
}
